{{ dokuwiki_blue_nfs_dir }} *(rw,no_root_squash,no_subtree_check)
{{ dokuwiki_green_nfs_dir }} *(rw,no_root_squash,no_subtree_check)
{{ dokuwiki_production_dir }} *(rw,no_root_squash,no_subtree_check)
{{ dokuwiki_staging_dir }} *(rw,no_root_squash,no_subtree_check)
