<h3>Create snippet</h3>

{{#if loggedIn}}

<form action="./snippets/create" method="POST">
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="text" class="form-control" placeholder="Enter title" name="title" id="inputTitle"/>
  </div>
  <div class="form-group">
    <label for="inputSnippet">Snippet code</label>
    <textarea name="textcontent" class="form-control" id="inputSnippet" rows="25" cols="20"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{/if}}